.timeInsights {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	max-width: 640px;
	background: #f1f3f5;
	margin: 10px auto;
	border: 1px solid black;
}

.timeInsightsContainer {
	padding: 16px;
}

.timeInsightsContainer > div:nth-child(4) {
	font-family: 'Lato', sans-serif;
}

.timeInsightsHeader {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	font-size: 32px;
	margin: 0 auto 16px auto;
}

.timeInsightsLegend {
	margin: 1rem auto;
	padding: 10px 0;
}

.filter {
	position: relative;
	font-size: 1rem;
	color: #0b4e8c;
	cursor: pointer;
	line-height: 1rem;
}

.filter svg {
	margin-left: 0.64em;
	position: absolute;
	top: 50%;
	left: 50%;
}

.left, .right {
	font-size: 32px;
	line-height: 32px;
}

.left {
	order: 1;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
}

.left h3 {
	margin: 0;
	padding: 0;
}

.right {
	order: 2;
}

.totalHours {
	font-size: 20px;
}

.totalHours span {
	font-size: 32px;
	color: #0b4e8c;
}

.listHeader {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.listHeader h4 {
	margin: 0 6rem 0 0;
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
}

.task > div:nth-child(2) {
	text-align: left;
	height: 44px;
}

.task > div:nth-child(2) h4,
.task > div:nth-child(2) div {
	font-size: 20px;
	margin: 0;
}

.task > div:nth-child(2) h4 {
	font-weight: bold;
}

.taskAvatar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.taskAvatar .colorTag {
	margin-left: 5px;
	width: 0.5rem;
	height: 44px;
}

.taskAvatar .percentTime {
	font-size: 24px;
	font-weight: bold;
	color: #242424;
	width: 3rem;
	height: 44px;
	line-height: 44px;
}

.userDuration {
	font-weight: bold;
}

.ant-list-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}